@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="container">
        <a asp-area="" asp-controller="Home" asp-action="LoadQ">Load Quotes</a>
    </div>

    <div class="container">
        <a asp-area="" asp-controller="Home" asp-action="ShowQ">Show Quotes</a>
    </div>

</div>
